#searchbar {
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.card {
    display: flex;
    padding: 2px 16px ;
    width: 400px;
    height: 575px;
    background-color: #fbfcff;
    border-color: gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 6px 14px 0 rgba(0,0,0,0.2);
    background-color:#D0CCD0;
}

footer {
    margin-top: 15px;
    display: flex;
}

body {
    background-color: #274156;
}

.button {
    background-color: #1C6E8C;  
    border-radius: 5px
}

.button:hover {
    background-color: #145066;
}

#saved {
    margin: 0px 10px;
}